@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@theme{
    --color-lightblue: #D2E8FC;
    --color-primary: #0A2463;
    --color-secondary: #1753E3;
    --color-gray: #667085;
    --color-bg-categories: #F5F5F9;
    --font-sans: "Montserrat", sans-serif;
}
@layer components {
  .page-container {
    @apply px-4 sm:px-6 md:px-10 lg:px-16;
   
  }
}

